environs>=14.5.0
faiss-cpu>=1.13.2
fastapi[standart]>=0.129.0
langchain>=1.2.10
langchain-community>=0.4.1
langchain-core>=1.2.13
langchain-openai>=1.1.9
langchain-text-splitters>=1.1.0
openai>=2.21.0
tiktoken>=0.12.0